<section id="programas-section">
  <div class="block-wrapper">
    <div class="title-wrapper">
      <h2 class="programas-title generic-title">Programas</h2>
    </div>
    <div class="content">
      <img src="/assets/images/10_PROGRAM.png" class="asset" alt="" />
      <ul class="programas-list">
        <li><strong>Quirófano General</strong> - Pre y post quirúrgico</li>
        <li><strong>Colorrectal</strong> - Pre y post quirúrgico</li>
        <li><strong>Bariátrica</strong> - Pre y post quirúrgico</li>
        <li><strong>Traumatología</strong> - Pre y post quirúrgico</li>
        <li><strong>Maternidad y Obstetricia</strong></li>
        <li><strong>Crónicos (Diabetes, Cardiometabolismo, Renal, EPOC)</strong></li>
        <li><strong>Oncología</strong></li>
        <li><strong>Triage de guardia</strong></li>
        <li><strong>Cuidados Domiciliarios</strong></li>
      </ul>
    </div>
  </div>
</section>
