@use '@styles/variables/' as *;
@use '@styles/utils/mixins/fluid-type' as *;
@use '@styles/utils/mixins/media-query' as *;

#programas-section {
  padding-top: 33px;
  padding-bottom: 75px;
  background: $color-white-section;
  color: $color-police-blue;

  .content {
    @include media-query(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      align-items: center;
    }
  }

  .asset {
    width: 80%;
    margin: 0 auto 20px;
    display: block;
    @include media-query(lg) {
      margin: unset;
      width: 100%;
      transform: translateX(-25%);
    }
  }
  .programas-list {
    @include fluid-type(16px, 24px);
    flex-grow: 50;
    list-style-type: disc;
    margin-left: 20px;

    @include media-query(lg) {
      width: 30.2vw;
    }
  }
}
