<section id="reconocimientos-section">
  <div class="block-wrapper">
    <div class="title-wrapper">
      <h2 class="testimonios-title generic-title">Reconocimientos</h2>
    </div>
    <div class="cards-wrapper">
      {{> reconocimientos-section/card/_card 
      title="NXTP MedTech Challenge 2022" 
      copy="Johnson & Johnson - Microsoft -Hospital Austral"
      image="/assets/images/reconocimiento-1.png"
      winner="true"
      }}
      {{> reconocimientos-section/card/_card 
      title="Movement Health 2030" 
      copy="Copenhagen Inst. - Roche -Bunge & Born Found"
      image="/assets/images/reconocimiento-2.png"
      winner="true"
      }}
      {{> reconocimientos-section/card/_card 
      title="NXTP Innovation 2020" 
      copy="Novartis"
      image="/assets/images/reconocimiento-3.png"
      winner="true"
      }}
      {{> reconocimientos-section/card/_card 
      title="Innovation Shark Tank & Poster Presentation in SAGES 2020 Annual Meeting" 
      copy="Johnson & Johnson - Microsoft -Hospital Austral"
      image="/assets/images/reconocimiento-4.png"

      }}
    </div>
  </div>
  <figure class="banner">
    <img src="/assets/images/banner.jpg" alt="" />
    <div class="copy-wrapper">
      <figcaption>
        Amanda es inteligencia artificial aplicada para mejorar los resultados de la atención médica y marcar una
        diferencia real en la vida de las personas.
      </figcaption>
    </div>
  </figure>
</section>
