<section id="capacidades-section">
  <div class="block-wrapper">
    <div class="copy-wrapper">
      <h2 class="capacidades-title generic-title">
        Capacidades <br />
        de Amanda
      </h2>
      <ul class="capacidades-list">
        <li>
          <strong>Panel de monitoreo</strong> especializado, donde el médico podrá visualizar el estado de la ruta del
          paciente.
        </li>
        <li><strong>Gestión de Documentos</strong> y prescripciones médicas.</li>
        <li><strong>Smart Triage</strong> dentro del mismo sistema, unificando la fuente de información.</li>
        <li><strong>Analytics</strong> de patologías, con mediciones y gráficos.</li>
      </ul>
    </div>
  </div>
  <div class="image-wrapper">
    <img src="assets/images/capacidades.jpg" class="capacidades-img" alt="" />
  </div>
</section>
