@use '@styles/variables/' as *;
@use '@styles/utils/mixins/fluid-type' as *;

#capacidades-section {
  background: $color-white-section;
  color: $color-police-blue;
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  overflow: hidden;

  .capacidades-list {
    @include fluid-type(16px, 24px);
    width: 30.2vw;
    list-style-type: disc;
    margin-left: 20px;
  }

  .image-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: min(860px, 45.2vw);
  }
  .capacidades-img {
    width: 100%;
  }
}
