<div class="pill{{#if plus}} plus{{else}} minus{{/if}}">
  <span class="copy">{{ copy }}</span>
  <svg class="icon">
    <use href="{{#if plus}}#icon-plus{{else}}#icon-minus{{/if}}" />
  </svg>
</div>
