<figure class="reconocimientos-card">
  <img src="{{ image }}" class="reconocimiento-logo" alt="" />
  <h4 class="title">{{ title }}</h4>
  <p class="copy">{{ copy }}</p>
  {{#if winner}}<img src="assets/images/winner-tag.png" alt="" class="winner-tag" />{{/if}}
</figure>
