<section id='hero-section'>
  <img src='/assets/images/hero-amanda.jpg' class='hero-background-image' alt='' width='1920px' height='790px' />
  <div class='hero-content block-wrapper'>

    <h1 class='hero-title'>Amanda es un asistente digital de salud
      <strong>que simplifica la ruta del paciente.</strong>
    </h1>
    <p class='hero-subtitle'>guiándolos vía <strong>WhatsApp</strong> y en tiempo real</p>
    {{> button/_button copy="Solicitar una demo"}}
  </div>
</section>