@charset "UTF-8";
@use '@styles/utils/mixins/media-query' as *;
@use '@styles/variables/' as *;
@use '@styles/utils/mixins/fluid-type' as *;

/* ========================================
  Hero Section
======================================== */

#hero-section {
  background: $color-medium-turquoise;
  color: $color-white;
  padding-top: $height-header-mobile;
  display: grid;
  place-items: center;
  color: $color-police-blue;

  .hero-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 1/1;
  }

  .hero-content {
    grid-area: 1/1;
  }

  .hero-title {
    @include fluid-type(24px, 64px);
    font-family: 'Muli';
    line-height: 1.26;
    font-weight: 700;
    width: 49.5vw;
  }

  .hero-subtitle {
    font-weight: 400;
    margin-bottom: 6.94vh;
    @include fluid-type(18px, 30px);
  }

  @include media-query(md) {
    background: $color-black;
    padding-top: $height-header-desktop;
    aspect-ratio: 1920/935;
  }
}
