<section id="our-clients-section">
  <div class="hero-content block-wrapper">
    <div class="title-wrapper">
      <h2 class="our-clients-title">
        <span class="copy-1">Nuestros clientes</span>
        <span class="copy-2">+400.000</span>
        <span class="copy-3">Líderes asistiendo pacientes en la ruta digital</span>
      </h2>
    </div>
    <div class="logos-wrapper">
      <ul class="logos-list">
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-1.png" class="client-asset" alt="Swiss Medical" />
        </li>
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-2.png" class="client-asset" alt="Hospital Austral" />
        </li>
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-3.png" class="client-asset" alt="Premedic" />
        </li>
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-4.png" class="client-asset" alt="Uba200" />
        </li>
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-5.png" class="client-asset" alt="Ossacra" />
        </li>
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-6.png" class="client-asset" alt="Medicus" />
        </li>
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-7.png" class="client-asset" alt="SMG" />
        </li>
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-8.png" class="client-asset" alt="Hospital de clinicas" />
        </li>
        <li class="logo-item">
          <img src="/assets/images/client-logos/logo-9.png" class="client-asset" alt="Bariatrica" />
        </li>
      </ul>
    </div>
  </div>
</section>
