<section id="pacientes">
  <div class="block-wrapper">
    <div class="title-wrapper">
      <h2 class="white-info-title">
        <strong>Amanda</strong> es el primer paso hacia una <strong>atención médica de mayor calidad.</strong>
      </h2>
    </div>
    <div class="pills-wrapper">
      <ul class="pills-list">
        <li class="pill-item minus">
          <p class="pill-copy">Reducción de cancelaciones</p>
          {{> pill/_pill copy="18%"}}
        </li>
        <li class="pill-item minus">
          <p class="pill-copy">Reducción de <strong>costos administrativos</strong></p>
          {{> pill/_pill minus copy="30%"}}
        </li>
        <li class="pill-item minus">
          <p class="pill-copy">Reducción de <strong>esfuerzo de coordinación</strong></p>
          {{> pill/_pill minus copy="50%"}}
        </li>
        <li class="pill-item">
          <p class="pill-copy">Conversión de procedimientos</p>
          {{> pill/_pill plus="true" copy="25%"}}
        </li>
      </ul>
    </div>
    <div class="nps-wrapper">
      <h3 class="nps-title"><span>Mejora del NPS</span></h3>
      <p class="nps-copy">
        Las instituciones médicas que utilizan <strong>Amanda,</strong> lograron <strong>aumentar</strong> el Net
        Promoter Score de <strong>3 a 4,5.</strong>
      </p>
      <img src="/assets/images/measurer.png" alt="medidor" />
      <p class="nps-copy">
        Más del 95% de los <strong>pacientes</strong> registrados se <strong>comprometen</strong> con el servicio de
        Amanda
      </p>
    </div>
    <div class="steps-wrapper">
      <h3 class="steps-title"><span>Simple</span> para el paciente</h3>
      <img class="steps-asset" src="/assets/images/06_STEPS.png" alt="steps" />
    </div>
  </div>
</section>
