<section id="testimonios-section">
  <div class="block-wrapper">
    <div class="title-wrapper">
      <h2 class="testimonios-title generic-title">Testimonios</h2>
    </div>
    <div id="testimonios-slider" class="content keen-slider">
      {{> testimonios-section/card/_card logo_src="/assets/images/Hospital_Austral_Logo_2023.png" 
        copy="La inteligencia artificial de Amanda generó un gran impacto en nuestros pacientes por la accesibilidad a documentos y la agilidad 
        en el intercambio entre paciente y médico. Evolucionó el seguimiento, haciéndolo multidisciplinario y centrado en el paciente" 
        footer_img="/assets/images/testimonio-1.jpg" name="Ignacio Fernandez" charge="Director Médico"}}
      {{> testimonios-section/card/_card logo_src="/assets/images/Hospital_Austral_Logo_2023.png" copy="Teníamos que mejorar el viaje quirúrgico, 
        la parte administrativa, el pre-quirúrgico y Amanda nos permitió
        tener esa mejor medicina y las métricas lo confirman." 
        footer_img="/assets/images/testimonio-2.jpg" name="Pedro Valdez" charge="Jefe de quirófano"}}
      {{> testimonios-section/card/_card logo_src="/assets/images/smg.png" 
        copy="Con Amanda pudimos atender a miles de pacientes durante la pandemia" footer_img="/assets/images/testimonio-3.jpg" name="Mara Rubinstein" charge="Directora Programa COVID"}}
    </div>
    <div id="testimonios-arrow-wrapper">
      <button id="testimonios-arrow-left">
        <svg class="arrow arrow-right">
          <use href="#icon-arrow-left"></use>
        </svg>
      </button>
      <button id="testimonios-arrow-right">
        <svg class="arrow arrow-right">
          <use href="#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
