<header id="page-header">
  <div class="block-wrapper">
    <div class="logo-wrapper">
      <a href="#">
        <svg class="amanda-logo">
          <use href="#icon-amanda-logo" /></svg
      ></a>
    </div>
    <nav class="nav-bar">
      <a href="">Sobre nosotros</a>
      <a href="">Contáctanos</a>
      <a href="">Pacientes</a>
    </nav>
    <a href=""><img src="/assets/images/icon_social-linkedin.png" alt="linkedin" width="37px" height="37px" /></a>
  </div>
</header>
