<section id="route-section">
  <div class="block-wrapper">
    <div class="copy-wrapper">
      <h2 class="route-title">Automatización de la ruta de paciente</h2>
      <p class="route-copy">
        Amanda ofrece información en tiempo real sobre la ruta de tus pacientes. Al automatizar flujos de trabajo,
        simplifica los procesos y mejora la atención médica
      </p>
    </div>
    <div class="route-wrapper">
      <img src="/assets/images/routes.png" alt="" class="routes" />
    </div>
  </div>
</section>
