<section id="route-section">
  <div class="block-wrapper">
    <div class="copy-wrapper">
      <h2 class="route-title">Automatización de la ruta de paciente</h2>
      <p class="route-copy">
        Amanda ofrece información en tiempo real sobre la ruta de tus pacientes. Al automatizar flujos de trabajo,
        simplifica los procesos y mejora la atención médica
      </p>
    </div>
    <div class="route-wrapper">
      <picture>
        <source srcset="/assets/images/routes-desktop.png" media="(min-width: 1024px)" />
        <img src="/assets/images/routes-mobile.png" alt="" class="routes" />
      </picture>
    </div>
  </div>
</section>
