<footer data-component="footer">
  <div class="block-wrapper">
    <div class="logo-wrapper">
      <a href="#">
        <svg class="amanda-logo">
          <use href="#icon-amanda-logo" />
        </svg>
      </a>
    </div>
    <div class="wrapper-footer-center">
      <h4>HACENOS TU CONSULTA</h4>
      <ul class="info-list">
        <li class="info-list-item">
          {{> link/_link link="#" copy="Sobre Amanda"}}
        </li>
        <li class="info-list-item">
          {{> link/_link link="#contacto" copy="Contacto"}}
        </li>
        <li class="info-list-item">
          {{> link/_link link="#clientes" copy="Clientes"}}
        </li>
        <li class="info-list-item">
          {{> link/_link link="#" copy="Términos y condiciones"}}
        </li>
      </ul>
    </div>
    <div class="wrapper-footer-right">
      <h4>CONTACTANOS</h4>
      {{> link/_link link="mailto:sales@amanda-care.com" copy="sales@amanda-care.com"}}
      <p class="direction">16192 Coastal Highway | Lewes | Delaware, 19958</p>
    </div>
    <p class="copyright">©2023 Amanda Care. Todos los derechos reservados.</p>
  </div>
</footer>
