@charset "UTF-8";
@use './variables/' as *;

/* ========================================
  Base
  Note: Difine your base style
======================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /*
  Consider if the 62.5% solution is valuable in this project.
  You could use get-rem function to conver px to rem.
  */
  background: $color-police-blue;
  font-family: 'Muli';
  font-size: 62.5%;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 320px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: $font-size-primary;
  line-height: 1.6;
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  padding: 0;
  border-width: 0;
  font-weight: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'muli';
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-size: $font-size-heading1;
  font-weight: 700;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

label {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
strong {
  font-weight: 900;
}
.block-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;
}
