@font-face {
  font-family: 'Muli';
  font-weight: 900;
  src: url('/assets/fonts/Muli-Black.woff') format('woff'), url('/assets/fonts/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-weight: 700;
  src: url('/assets/fonts/Muli-Bold.woff') format('woff'), url('/assets/fonts/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-weight: 400;
  src: url('/assets/fonts/Muli-Regular.woff') format('woff'), url('/assets/fonts/Muli-Regular.ttf') format('truetype');
}
