<section id="text-banner-section">
  <div class="block-wrapper">
    <p class="copy">
      <span class="number">65%</span>
      <span class="text">
        de la información ya se encuentra<br />
        pre-cargada al momento que el<br />
        profesional abre Amanda.
      </span>
    </p>
  </div>
</section>
