<section id="nosotros">
  <div class="hero-content block-wrapper">
    <div class="title-wrapper">
      <div class="icon-wrapper">
        <svg class="talk-icon">
          <use href="#icon-talk" />
        </svg>
      </div>
      <h2 class="video-title">
        Ayuda a tu equipo a gestionar decisiones, impulsa su productividad y transforma la operativa.
      </h2>
    </div>
    <div class="video-wrapper">
      <button class="play-video-button" data-micromodal-trigger="video-modal">
        <img src="/assets/images/video-preview.jpg" class="video-preview-image" alt="" width="1194px" height="581px" />
        <svg class="play-video-icon">
          <use href="#icon-play-video" />
        </svg>
      </button>
      {{> button/_button className="video-section-button inverted" copy="Solicitar una demo" link="#contactanos"}}
    </div>
  </div>
</section>
